.contact-main {
    max-width: 1250px !important;
    background-color: white;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.contact-main-1 {
    margin-top: 50px;
    border: 1px solid lightgray;
    width: 70%;
    text-align: left;
    padding: 10px;
}

.contact-main-1 p {
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
}

.contact-main-1 h4 {
    font-size: 34px;
}

.present {
    font-size: 20px !important;
    font-weight: 500 !important;
    letter-spacing: 1px;
}

.contact-details {
    display: flex;
    flex-wrap: wrap;
}

.contact-details p {
    font-size: 16px;
    font-weight: 700;
    margin-left: 17px;
}

.contMain {
    display: none;
}

@media screen and (max-width:780px) {
    .contact-main {
        display: none;
    }
    .contMain {
        display: block !important;
        text-align: left !important;
        background-color: white !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .contMain-p1 {
        font-weight: normal !important;
        font-size: 20px !important;
    }
    .contMain-h3-1 {
        color: #003366 !important;
    }
    .contMain-li-1 {
        font-weight: normal !important;
    }
    .contMain-li-2 {
        font-weight: normal !important;
        color: #003366 !important;
    }
}